@model U_OnlineBazer.Models.Product
@{
    ViewData["Title"] = "Details";
}
<br />

<h2 class="text-info">Product Details</h2>
<form asp-action="" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <h3>@ViewBag.message</h3>
        <div class="col-8">
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Name" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @* <div class="form-group row mb-3">
            <div class="col-4">
            <label asp-for="Image"></label>
            </div>
            <div class="col-8">
            <input asp-for="Image" class="form-control " type="file" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
            </div> *@
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="ProductId"></label>
                </div>
                <div class="col-8">
                    @* <select asp-for="ProductId" asp-items="ViewBag.ProductId" class="form-control"></select> *@
                    <input asp-for="ProductId" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group row mb-3">
                <div class="col-4">
                    
                </div>
                <div class="col-8">
                  <input type="submit" class="=btn btn-info rounded" value="Add To Cart" />  
                </div>
                
            </div>
            <div class="form-group">
                <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef" />
            @if (Model.IsAvailable)
            {
                <img src="~/images/instock-logo.png" width="200px" height="50px" />
            }
            else
            {
                <img src="~/images/notinstock.jpg" width="200px" height="50px" />
            }
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
